<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Friendly Lunch</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <!--<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <link
      id="favicon"
      rel="icon"
      href="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-cherry-blossom-flowers-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
<!--     <script  defer src="/client.js"></script> -->
  </head>
  
  
  <body>
    
    <header>
      <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid d-flex align-items-center justify-content-center py-2">
          <a class="navbar-brand text-white" href="">Friendly Lunch</a>
        </div>
      </nav>
    </header> 
    
    
    <div class="container py-5">
      <div class="text-secondary">
        本アプリのサーバーは「５分間」の「不使用」で「スリープ」する仕様になっています。その日一番にアクセスした人は少しだけサーバー起動に時間がかかります。
      </div>
      <form action="/users/authentication" method="post">
        <div class="mb-3">
          <table>
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td height="100px">
                  <label>アカウント：</label>
                </td>
                <td>
                  <input type="text" name="username" style="width:100%;"/>
                </td>
              </tr>
              <tr>
                <td>
                  <label>パスワード：</label>
                </td>
                <td>
                  <input type="password" name="password" style="width:100%;"/>
                </td>
              </tr> 
            </tbody>     
          </table>       
        </div>
        <br>
        <div>
          <input class="btn btn-dark" type="submit" value="ログイン"/>
        </div>
      </form>
    </div>

    
    <br>
    
      
    <footer class="footer mt-auto py-3 bg-light">
      <div
        class="container d-flex align-items-center justify-content-center text-muted"
      >
        Copyright ©Friendly Lunch
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous">
    </script>
    
    <script>
      //enter押しでsubmitしないようにする。
      document.onkeypress = submit_cancel;
      function submit_cancel(){
          if( window.event.keyCode == 13 ){
              return false;
          }
      };
    </script>
    
  </body>
</html>