<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Friendly Lunch</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <!--<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <link
      id="favicon"
      rel="icon"
      href="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-cherry-blossom-flowers-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <!-- import the webpage's client-side javascript file -->
    <!--<script defer src="/client.js"></script> -->
  </head>
  
  <body>
    <header>
      <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid d-flex align-items-center justify-content-center py-2">
          <a class="navbar-brand text-white" href="/index">Friendly Lunch</a>
          <a class="m-2 text-muted" href="/index">ホーム</a>
          <a class="m-2 text-muted" href="/records">実績</a>
          <a class="m-2 text-muted" href="/edit">編集</a>
        </div>
      </nav>
    </header>  
      

    <!--Ordersの出力・編集 -->
    <div class="container">
      <form action="/orders/edit" method="post" name="OrdersForm">
        <table class="table table-bordered">
          <tbody id="orderFormArea">
            <tr>
              <th hidden class="bg-light col-0 text-center">ID</th>
              <th class="bg-light col-3 text-center">日付</th>
              <th class="bg-light col-2 text-center">ユーザー</th>
              <th class="bg-light col-2 text-center">店名</th>
              <th class="bg-light col-2 text-center">メニュー</th>
              <th class="bg-light col-1 text-center">価格</th>
              <th class="bg-light col-1 text-center">お釣り</th>
              <th class="bg-light col-1 text-center">×</th>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="container">
      <a href="/index">
        <button class="btn btn-dark mb-4">ホーム</button>
      </a>
    </div>
    <br>

    <footer class="footer mt-auto py-3 bg-light">
      <div
        class="container d-flex align-items-center justify-content-center text-muted"
      >
        Copyright ©Friendly Lunch
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    
    
    <script>
      //このページでOrdersデータを呼び出し
      fetch("/getOrdersData", {})
        .then(res => res.json())
        .then(response => {
          response.forEach(row => {
             getOrdersData(row.id, row.date, row.user, row.store, row.menu, row.price, row.change);
          });
        });

      //recordsでOrdersの反映      
      function getOrdersData(id, date, user, store, menu, price, change) {
        const parent = document.getElementById("orderFormArea");
        const tr = document.createElement("tr");
        const td_1 = document.createElement("td");
          td_1.hidden = true;
          td_1.className = "text-center px-1";
          td_1.name = "orderId";
          td_1.textContent = id;
        const td_2 = document.createElement("td");
          td_2.className = "text-center px-1";
          td_2.name = "orderDate";
          td_2.textContent = date;
        const td_3 = document.createElement("td");
          td_3.className = "text-center px-1";
          td_3.name = "orderUser";
          td_3.textContent = user;
        const td_4 = document.createElement("td");
          td_4.className = "text-center px-1";
          td_4.name = "orderStore";
          td_4.textContent = store;
        const td_5 = document.createElement("td");
          td_5.className = "text-center px-1";
          td_5.name = "orderMenu";
          td_5.textContent = menu;
        const td_6 = document.createElement("td");
          td_6.className = "text-center px-1";
          td_6.name = "orderPrice";
          td_6.textContent = price;
        const td_7 = document.createElement("td");
          td_7.className = "text-center px-1";
          td_7.name = "orderChange";
          td_7.textContent = change;
        const td_8 = document.createElement("td");
          td_8.className = "px-1";
        const input_8 = document.createElement("input");
          input_8.onclick = deleteOrder; //関数をプロパティとして追加する場合は（）は不要
          input_8.className = "form-control btn-outline-secondary px-0";
          input_8.type = "button";
          input_8.name = `deleteOrderBtn_${id}`;
          input_8.value =　"×";
        parent.appendChild(tr);
        tr.append(td_1);
        tr.append(td_2);
        tr.append(td_3);
        tr.append(td_4);
        tr.append(td_5);
        tr.append(td_6);
        tr.append(td_7);
        tr.append(td_8);
        td_8.append(input_8);
      };

      //edit Menus デリートにチェックされたidの取得
      function deleteOrder() {
        const activeDeleteOrderBtn = document.activeElement;
        const deleteId = activeDeleteOrderBtn.name.replace("deleteOrderBtn_", "");
        console.log(activeDeleteOrderBtn.name);
        console.log(activeDeleteOrderBtn.name.replace("deleteOrderBtn_", ""));
        window.location.href = `/orders/delete/${deleteId}`;
      };
      
      
    </script>
    
  </body>
</html>